---
metadata:
    url: {{ manifest.url }}
---

<!DOCTYPE html>
<html>
    {% include 'fragments/head.njk' %}
    <body>
        {% include 'fragments/header.njk' %}
        {{ content | safe }}
        {% include 'fragments/footer.njk' %}
    </body>
</html>