---
metadata:
    url: {{ manifest.url }}
---

<!DOCTYPE html>
<html lang="{{ manifest.language }}">
    {% include 'components/head.njk' %}
    <body>
        {% include 'components/header.njk' %}
        <main>
            {%- if draft %}
                <div class="draft">DRAFT</div>
            {%- endif %}
            {{ content | safe }}
        </main>
        {% include 'components/footer.njk' %}
    </body>
</html>