---
metadata:
    url: {{ manifest.url }}
---

<!DOCTYPE html>
<html lang="{{ manifest.language }}">
    {% include 'components/head' %}
    <body>
        {% include 'components/header' %}
        <main>
            {%- if draft %}
                <div class="draft">DRAFT</div>
            {%- endif %}
            {{ content }}
        </main>
        {% include 'components/footer' %}
    </body>
</html>