<head>
  <!-- STYLING -->
  <link rel="stylesheet" href="/css/{{ manifest['style.css'] }}"/>
  <!-- PAGE DATA -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ manifest.title }}</title>
</head>