---
layout: base.njk
title: DevZone.one Eleventy Starter
tags: main
eleventyNavigation:
  key: Home
  order: 0
eleventyImport:
  collections: ["posts"]
numberOfLatestPostsToShow: 3
---

{% renderFile "./src/site/_fragments/intro.md" %}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>
  Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "components/posts.njk" %}